body {background-color:#FAFAFA;}
a.nav-link,div#body p {font-size: 22px;}
div#head p {font-size: 30px;}
div#body {margin-top: 1.25%;}
div#head {margin-top: 0;margin-bottom: 0;border-radius: 0;}
nav#browser {margin-bottom: 0;}
.left {max-width: 300px;max-height: 300px;}
.right {margin-left: 7.5%;font-size: 23px;}